$header-height: 500px;

.intro-header {
    height: $header-height;
    background: url('img/fog.jpg');
    background-size: cover;
}

.vertical-center {
    h1 {
        padding-top: $header-height/2 - 80px;
        text-align: center;
    }
}
