$brand-default: #373a3c;
$headerHeight: 500px;

.btn-outline-default, .btn-outline-default:focus {
    color: inherit;
    border: 1px solid;
    border-radius: .3rem;

    &:hover {
        color: white;
        background: $brand-default;
        border-color: $brand-default;
    }

    &:active {
        color: white;
        background: darken($brand-default, 10%);
    }
}

.introHeader {
    height: $headerHeight;
    background: url('img/fog.jpg');
    background-size: cover;

    display: flex;
    align-items: center;
}

.verticalCenter {
    width: 100%;
    padding: 0 20px;
    text-align: center;
}
