:root {
  --primary-color: #68DFB7;
  --footer-color: #ED5B76;
  --text-color: #222222;
}

body {
  color: var(--text-color);
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 64px;
  font-weight: normal;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
}

.nodisplay {
  display: none;
}

.opacity0 {
  opacity: 0;
}

.img-section {
  background-attachment: fixed;
}

#main-header {
  background-image: url("img/banner.jpg");
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  --padding: 150px;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

#main-header h1 {
  font-size: 64px;
}

#main-header .selected-text {
  color: var(--text-color);
  background: rgba(255, 255, 255, 0.7);
}

#main-header #header-caret {
  color: var(--primary-color);
}

#main-header .caret-anim {
  animation: blinking-anim 400ms infinite alternate;
}

@keyframes blinking-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section {
  --padding: 60px;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.skill-card {
  text-align: center;
  padding: 0 10px;
  height: 350px;
  margin-bottom: 20px;
}

.skill-card .inner-container {
  height: 100%;
  padding: 30px;
  margin: 0 auto;
  border: 1px solid #D4D4D4;
  border-radius: 10px;
}

.skill-card .icon {
  color: var(--primary-color);
  font-size: 72px;
}

.skill-card .name {
  color: var(--primary-color);
  font-size: 32px;
}

.img-section {
  background-attachment: fixed;
  height: 400px;
}

.cherry-blossom {
  background-image: url("img/cherryblossom.jpg");
  background-position: center;
  background-size: cover;
}

footer {
  padding: 50px 0;
}

footer .footer-link {
  text-align: center;
}

footer .footer-link .icon {
  font-size: 42px;
  color: var(--footer-color);
}

footer .footer-link a {
  color: var(--footer-color);
  border-bottom: 1px dashed;
  transition: 300ms all;
}

footer .footer-link a:hover {
  text-decoration: none;
  padding-bottom: 4px;
}

@media (max-width: 991px) {
  #main-header {
    text-align: center;
    height: 450px;
  }
  #main-header h1 {
    font-size: 48px;
  }
  .skill-card .icon {
    font-size: 52px;
  }
  .skill-card .name {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  #main-header h1 {
    font-size: 36px;
  }
  .skill-card {
    height: auto;
    margin-bottom: 10px;
  }
  .skill-card .icon {
    font-size: 72px;
  }
  .skill-card .name {
    font-size: 32px;
  }
  footer .footer-link {
    margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  #main-header h1 {
    font-size: 24px;
  }
}

.ua-ios .img-section {
  background-attachment: scroll;
  background-size: cover;
}
